@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html {
    font-size: 14px;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}




.carousel-item img {
    object-fit: cover;
    object-position: top;
    height: 17cm;
    overflow: hidden;
}

.old_price{
    font-weight: bold;
    color: red;
}

.new_price{
    font-weight: bold;
    background-color: green;
    color: white;
    padding: 2px;
    border-radius: 5px;
    padding-bottom: -2px;
    
}

.card-image-top {
    height: 5cm;
    width: 5cm;
    object-fit: cover; /* This property will cover the area without distorting the image */
}
